
li{
  float: left;

}

li a{
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 16px;
  border-radius: 3px;

}
ul{
  overflow: hidden;
  list-style-type: none;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid;
  font-family: "PT Mono";
  padding-inline-start: 0px;
}
h3{
  width: 160px;
  font-size: 16px;
  height: 50px;
  padding: 20px;

}
h4{
  width: 200px;
  height: 200px;
  margin: 1px;
  padding:10px;
  border-radius: 2px;
  border: 1px solid;
  white-space: pre;
  font-size: 11px;
}
.prod{
  border-radius: 3px;
  border: 1px solid;
  margin: 1px;
}
h5{
  width: 200px;
  height: 20px;
  margin: 1px;
  padding:10px;
  border-radius: 2px;
  border: 1px solid;
  white-space: pre;
  font-size: 13px;
}
img{
  margin-left: 16px;
}
