
li{
  float: none;
}
ul,li{
  display: inline-block
}
li a{
  display: block;
  text-decoration: none;
  text-align: left;
  padding: 16px;
}

ul{ 
  list-style-type: none;

}

h3{
  width: 200px;
  font-size: 16px;
  height: 30px;
  padding: 20px;

}

h4{
  width: 200px;
  height: 200px;
  margin: 1px;
  padding:10px;
  border-radius: 2px;
  border: 1px solid;
  white-space: pre;
  font-size: 11px;
}

.prod{
  border-radius: 3px;
  border: 1px solid;
  margin: 1px;
}

h5{
  width: 200px;
  height: 20px;
  margin: 1px;
  padding:10px;
  border-radius: 2px;
  border: 1px solid;
  white-space: pre;
  font-size: 13px;
}
  
img{
  margin-left: 16px;
}