li{
  float: left;
}

li a{
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 16px;
}

ul{
  overflow: hidden;
  list-style-type: none;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid;
  font-family: "PT Mono"
}

