<!-- <ul >
  <li>
    <a [routerLink]="['/categories']">Categories</a>
  </li>
</ul>
@if (loaded) {
  <ul class="prod">
    @for (product of products; track product) {
      <li class ="prod">
        <img src = "http://localhost:8000/media/{{product.fields.image}}" width="120px" height="120px"/>
        <h3>{{product.fields.name}}</h3>
        <h5>{{product.fields.price}}</h5>
        <h4>{{product.fields.description}}
        </h4>
        <h5><button (click)="like(product)">Like</button> <span>Likes: {{product.fields.likes}}</span></h5>
        <h5><button (click)="copyName(product)">Copy name</button></h5>
      </li>
    }
  </ul>
} @else {
  <p>Products are loading</p>
} -->



<!-- <ul><li>
<span class="thumb"><img class="thumb" [src]="game.thumb"></span>
<span class="title">{{ game.title}}</span>
<hr>
<span>Normal Price: </span><span class="normal">{{ game.normalPrice}}</span>
<span>Sale Price:</span><span class="sale"> {{ game.salePrice}}</span>
<a [routerLink]="['/games', game.gameID]" class="claim">View Details</a>
</li>
</ul> -->

<ul >
  <li >
      <img [src]="product.images" width="120px" height="120px">
      <h3>{{product.title}}</h3>
      <h5>{{product.price}}$</h5>
      <h4>{{product.category.name}}</h4>
  </li>
</ul>
